body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #2f2f2f;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  margin: 0;
  font-size: 1.4rem;
}

.menu-icon {
  display: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-links-footer li:not(:last-child)::after {
  content: " | ";
  color: #666;
  margin-left: 1rem;
}

.nav-links-footer a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.nav-links-footer a:hover {
  color: #fff;
}

.lattes-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: right;
  vertical-align: middle;
}

main {
  padding: 2rem;
  min-height: calc(100vh - 200px);
}

.main-footer {
  background-color: #2f2f2f;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer-text {
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2f2f2f;
    margin-top: 1rem;
  }

  #menu-toggle:checked+.menu-icon+.nav-links {
    display: flex;
  }

  .nav-links li {
    padding: 0.5rem 1rem;
  }

  .nav-links-footer {
    flex-direction: column;
    gap: 0.8rem;
  }

  .nav-links-footer li:not(:last-child)::after {
    content: "";
    margin-left: 0;
  }

  .main-footer {
    padding: 15px 10px;
  }
}